.cabecalhoPrincipal .container
{
	display: flex; /*transforma o container em flex*/
	align-items: center; /* alinha verticalmente os itens ao centro */
	justify-content: space-between; /*Coloca o espaço que está a esquerda no meio dos elementos do container, no caso são dois #<-------># */
}

.cabecalhoPrincipal-nav
{
	display: flex;

}

.rodapePrincipal-patrocinadores .container
{
	display: flex;
	justify-content: space-between;
}

.rodapePrincipal-patrocinadores-list
{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 70%;
	margin-right: 5%;
}

.rodapePrincipal-contatoForm
{
	width: 25%;
}

.rodapePrincipal-contatoForm-fieldset
{
	display: flex;
}